.fade-up{

    opacity:0;

    transform:translateY(40px);

}

.fade-left{

    opacity:0;

    transform:translateX(-40px);

}

.fade-right{

    opacity:0;

    transform:translateX(40px);

}

.zoom{

    opacity:0;

    transform:scale(.9);

}
