<header>

    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="menu-toggle" (click)="toggleMenu()">

            @if(!isMenuOpen){

                <ion-icon name="menu-outline"></ion-icon>

            } @else {

                <ion-icon name="close-outline"></ion-icon>

            }

        </button>

        <div class="logo">
            <img src="assets/logo.svg" alt="AppNest Logo">
            <span>AppNest</span>
        </div>



        <!-- Navigation -->

        <nav [class.active]="isMenuOpen">

            <a href="#services" (click)="toggleMenu()">Services</a>

            <a href="#clients" (click)="toggleMenu()">Clients</a>

            <a href="#testimonials" (click)="toggleMenu()">Testimonials</a>

            <a href="/team" (click)="toggleMenu()">Team</a>

            <a href="#contact" (click)="toggleMenu()">Contact</a>

        </nav>

        <div class="actions">

            <button class="theme-btn" (click)="toggleTheme()">

                @if(isDarkMode){

                    <ion-icon name="sunny"></ion-icon>

                } @else {

                    <ion-icon name="moon"></ion-icon>

                }

            </button>

            <button class="cta">
                Get in Touch
            </button>

        </div>

    </div>

</header>
