<section class="team-page">


  <div class="team-container">

    <div class="back-button-container">

      <button class="back-button" (click)="goBack()">

        ← Back

      </button>

    </div>


    <!-- ==========================
             HERO HEADER
        =========================== -->


    <div class="team-header">


      <span class="section-tag">
        Our Team
      </span>



      <h1 class="team-title">

        Meet The People

        <span>
          Behind AppNest
        </span>

      </h1>



      <p class="team-subtitle">

        A passionate team of developers, designers,
        and innovators building modern digital solutions
        that help businesses grow.

      </p>


    </div>





    <!-- ==========================
             TEAM GRID
        =========================== -->


    <div class="team-grid">



      <div class="team-card" *ngFor="let member of teamMembers">



        <!-- IMAGE -->


        <div class="member-image">


          <img [src]="member.image" [alt]="member.name">


        </div>





        <!-- CONTENT -->


        <div class="member-content">


          <h3>

            {{member.name}}

          </h3>



          <span class="role">

            {{member.role}}

          </span>



          <p>

            {{member.description}}

          </p>





          <!-- SKILLS -->


          <div class="skills">


            <span *ngFor="let skill of member.skills">


              {{skill}}


            </span>


          </div>





          <!-- SOCIALS -->


          <div class="member-socials">


            <a [href]="member.linkedin" target="_blank">


              LinkedIn


            </a>



            <a [href]="member.github" target="_blank">


              GitHub


            </a>




            <a [href]="member.twitter" target="_blank">


              Twitter


            </a>



          </div>



        </div>



      </div>



    </div>




  </div>



</section>



<!-- FOOTER -->

<app-footer></app-footer>
