<footer class="footer">


    <div class="footer-container">


        <!-- MAIN FOOTER -->


        <div class="footer-grid">



            <!-- BRAND -->


            <div class="footer-brand">


                <div class="logo">


                    <img src="assets/logo.svg">


                    <span>
                        AppNest
                    </span>


                </div>



                <p>

                    Building modern digital experiences
                    through innovative software solutions.

                </p>


            </div>




            <!-- COMPANY -->


            <div class="footer-column">


                <h4>
                    Quick Links
                </h4>


                <a *ngFor="let item of quickLinks" [href]="item.url">

                    {{item.name}}

                </a>


            </div>


            <!-- CONTACT -->


            <div class="footer-column contact-column">


                <h4>
                    Contact
                </h4>


                <a href="mailto:info.appnest&#64;gmail.com">

                    info.appnest&#64;gmail.com

                </a>


                <a href="tel:+19512684385">

                    +1 (951) 268-4385

                </a>


                <span>

                    USA | India | Europe

                </span>


            </div>



        </div>




        <!-- SOCIAL -->


        <div class="footer-bottom">


            <div class="socials">


                <a *ngFor="let social of socialLinks" [href]="social.url" target="_blank">

                    {{social.name}}

                </a>


            </div>



            <p>

                © 2025 AppNest. All rights reserved.

            </p>



        </div>



    </div>


</footer>
